/* ---------------------------------- PICs ---------------------------------- */
#pic0{
    width: 100%;
}

#pic1{
    left: 150px;
    width: 100%;
}
/* -------------------------------------------------------------------------- */