* {
    margin: 0;
    padding: 0;
    color: var(--color4);
}
/* ---------------------------------- root ---------------------------------- */
:root {
    --color1:#2C3333;
    --color2:#395B64;
    --color3:#A5C9CA;
    --color4:#E7F6F2;
}
/* -------------------------------------------------------------------------- */

/* ---------------------------------- body ---------------------------------- */
body {
    background: var(--color1);
    max-width: 1920px;
}
/* -------------------------------------------------------------------------- */
/* ----------------------------------- nav ---------------------------------- */
nav{
    width: 100%;
    background-color: var(--color2);
    min-height: 10px;
    padding: 2px;
}
/* -------------------------------------------------------------------------- */
/* ---------------------------------- input --------------------------------- */
.input-data {
    width: 50px;
    color: var(--color1);
}
/* -------------------------------------------------------------------------- */